*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 242, 237);
    
    
    
}


.header{
    
    background-color: bisque;
    border: solid 1px rgb(237, 157, 169);
    padding: 10px;
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.logo{
    
    font-size: 27px;
    color: rgb(208, 58, 81);
    font-weight: 600;
    margin-left:  11px;
    margin-right: 10px;
    

}
.cactrang{
    display: flex;
    
     
    
}

.trang,.datlich,.doihinh,.trangchu,.trogiup{
   
    padding: 3px;
    border-radius: 4px;
    margin-left: 5px;margin-right: 5px;
    color:rgb(214, 105, 122) ;
    
    
}



.bold{
    color:rgb(246, 242, 237);
}
.trangbold{
    background-color:rgb(214, 105, 122);

}

h1,p,button{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(214, 105, 122)



}
h1{
    font-size: 30px;
    margin: 50px 0 10px 0;
}
button:hover{
    background-color:rgb(246, 242, 237); 
    border: solid 1px bisque;
}
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bodyinside{
    max-width: 1300px;
   
}
.footer{
    background:linear-gradient(45deg,rgb(255, 191, 122), rgb(255, 122, 122));
    border-radius: 20px 0 20px 0; 
    padding: 10px;
}
@media (min-width: 700px){
    .trang,.trangchu,.doihinh,.datlich,.trogiup{
    margin-left:19px;
    margin-right: 19px;}
    .logo{
    margin-left:  35px;

}
    
}
@media (min-width:1000px){
    .trang,.trangchu,.doihinh,.datlich,.trogiup{
    margin-left: 32px;
    margin-right: 32px;
}
.logo{
    margin-left:  45px;}

}
.contact{

    position: fixed;
    /* để nó gắn vào góc màn hinhf   */
    bottom:30px;
    right: 17px;
    display: flex;
    flex-direction: column;
    
}
ion-icon{
    font-size: 30px;
    margin: 10px;
    color: rgb(226, 226, 228);
    border: solid 1px;
    background-color: rgb(211, 83, 102);
    padding: 4px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgb(134, 133, 133);
}

ion-icon:hover{
    background-color: rgb(246, 242, 237);
    color: rgb(211, 83, 102);
}



  

