.bodyinside{
    
    margin-bottom: 190px;
    width: 75%;
    
    
}
h1{
    font-size: 45px;
    margin-bottom: 40px;
}
summary,details p{
    font-size: 20px;
    margin: 9px;
}
a{
    color:rgb(219, 75, 96);
}

@media(max-width:600px){
    
    h1{
    font-size: 27px;
}}
